In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/pacific_hurricanes.csv')
df.head()

         Date  hurricane
0  1949-06-11          0
1  1949-06-12          0
2  1949-06-13          0
3  1949-06-14          0
4  1949-06-15          0

In [4]:
pd.DataFrame(df['hurricane'].value_counts())

   hurricane
0      22435
1       1842

In [10]:
round(df['hurricane'].value_counts(normalize=True).loc[0], 6) * 100

92.4126